In [ ]:
import pandas as pd
import numpy as np

#periods = quantos dias
#20221201 = Ano / Mês / Dia
dadaFrame_data = pd.date_range("20221201", periods=31)

print(dadaFrame_data)

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
               '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
               '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd
import numpy as np

#periods = quantos meses
#20221201 = Ano / Mês / Dia
dadaFrame_meses = pd.date_range("20221231", periods=12, freq="M")

print(dadaFrame_meses)

DatetimeIndex(['2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
               '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', freq='ME')

/tmp/ipykernel_56006/2685268260.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dadaFrame_meses = pd.date_range("20221231", periods=12, freq="M")

In [ ]:
import pandas as pd
import numpy as np

#DataFrame de números aleatórios
n_aleatorio = pd.DataFrame(np.random.rand(5,1))

print(n_aleatorio)

          0
0  0.822862
1  0.249784
2  0.117386
3  0.255997
4  0.476402

In [5]:
import pandas as pd
import numpy as np

#DataFrame de números aleatórios
n_aleatorio = pd.DataFrame(np.random.rand(15,10)*100)

print(n_aleatorio)

            0          1          2          3          4          5  \
0   11.355110  17.047654   7.353432  32.434266  61.697085  16.799273
1   37.618994  80.069714   0.734127  97.953956   4.557734  38.517113
2   16.717319  70.089099  17.372433  94.276546  20.159925  79.374833
3    9.721439  49.384455  50.238486  58.196341  81.825054  70.780188
4   41.569484  19.939205  37.578500  67.156193  51.753572  56.512645
5   32.917497   5.329917  96.830619  41.588965  31.380246  69.216355
6   47.333179   8.181494  48.868960  17.009526  95.731991  61.094604
7   44.112311  72.036404  77.063372  59.575472  18.752942  57.551387
8   14.088135   2.553034  25.915603  72.826709  12.943317  98.495854
9   47.608024  44.290897  27.786687  81.192081  88.697371  96.993179
10  91.226067  68.839498  10.714698  10.843768  18.350323  39.368961
11  34.046909  71.629820  90.899218  84.097477  36.018012  31.665979
12  70.835679  86.094315   7.523355  34.582678  21.614510   7.153863
13  48.526152  55.897204   2.521367  32.684892  27.153577  94.393381
14  58.610553  96.101569  21.280670  39.342718  83.030689  22.936818

            6          7          8          9
0   90.909037  45.483442  14.545606  33.485886
1   37.468793  77.075843  82.202863  98.370052
2   67.039679  86.302783   6.380718  55.635329
3   81.029294   2.067141  69.499184  16.926058
4   94.954441  59.177679  62.964366  25.102576
5   96.184797  81.419408  71.925705  22.308946
6   70.359015   0.349728  54.055631  48.426950
7   72.127740  96.909118  35.281818   3.264851
8   26.452996  56.058026   8.522472  69.379922
9   84.297094   1.306712  32.502852  15.598985
10  34.910387  47.360235  76.133023  24.018720
11  55.763349  74.370325  67.904248  76.365511
12   6.981908  69.840641  36.674498  75.939191
13   0.468912  85.426531  31.133592  41.185471
14   2.772673  30.326423  71.428604  91.746802

In [8]:
import pandas as pd
import numpy as np

notas_alunos = pd.DataFrame({

    "Nome": ["Ana", "Pedro", "João"],
    "Média": [9, 7, 10]

})

print(notas_alunos)

    Nome  Média
0    Ana      9
1  Pedro      7
2   João     10

In [10]:
import pandas as pd
import numpy as np

notasAlunos_DataFrame = pd.DataFrame({
    "Nome": ["Ana", "Pedro", "João"],
    "Nona1": [9, 7, 10],
    "Nona2": [9, 9, 8],
    "Nona3": [7, 5, 10],
    "Nona4": [10, 10, 6]

})

display(notasAlunos_DataFrame)

    Nome  Nona1  Nona2  Nona3  Nona4
0    Ana      9      9      7     10
1  Pedro      7      9      5     10
2   João     10      8     10      6

In [ ]:
import pandas as pd
import numpy as np

notasAlunos_DataFrame = pd.DataFrame({
    "Nome": ["Ana", "Pedro", "João"],
    "Nona1": [9, 7, 10],
    "Nona2": [9, 9, 8],
    "Nona3": [7, 5, 10],
    "Nona4": [10, 10, 6]

})

notasAlunos_DataFrame

display(notasAlunos_DataFrame)